<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Bem Vindo</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">


</head>
<body>
  <div th:replace="fragmentos/fragmentos :: cabecalho"></div>
  
  <div class="container">
	 <div class="col-md-4 float-left" th:each="appointmentConsultation : ${appointments}">
	  	<div class="card bg-light mb-3 mt-4">
	  	
		  	<div class="card-header">
		   		<span th:text="${appointmentConsultation.doctor.profission}"></span>
		  	</div>
	  		<div class="card-body">
	  			<span th:text="${#dates.format(appointmentConsultation.date, 'dd/MM/yyyy')}"></span>
	  		</div>
	  		<div class="card-footer bg-light">
	  			<p>
					<a th:if="${!appointmentConsultation.done}" th:href="@{/edit/{id}(id=${appointmentConsultation.id})}">Edit</a>
					<span th:if="${!appointmentConsultation.done}">|</span>
					<a th:href="@{/delete/{id}(id=${appointmentConsultation.id})}">Delete</a>
				</p>
	  		</div>
	  		
	  	</div>
	  </div>
  </div>
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>