<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Sign-up</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div class="col-md-6 offset-md-3">
		<h1 class="text-center">Sign up</h1>
		<form method="post" class="signup-form">
			<div class="form-group mt-4">
				
				        
				<input type="text" class="form-control mb-1 " name="name" placeholder="Name">
				<input type="email" class="form-control mb-1 " name="email" placeholder="Email">
				<input type="password" class="form-control mb-1 " name="password" placeholder="Password">
				<input type="number" class="form-control mb-1 " name="age" placeholder="Age">
				<input type="text" class="form-control mb-1 " name="cpf" placeholder="CPF">
				<input style="outline: none;" type="text" class="form-control mb-1 " name="graduation" placeholder="Graduation"/>
				<div class="form-group">
				<input type="submit" class="btn btn-success form-control mb-1 col-5" value="Sign-up">
				<a href="/" class="btn btn-light col-3">Cancelar</a>
				</div>
				<div class="bottom-text">
				<a href="/">Already have an account?</a>
				</div>
        	</div>
    	</form>
    </div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>